<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr><th>Duration</th><th>Topic</th></tr>
      <tr><td>05</td><td><a href="/shell-novice/01-intro/index.html">Introducing the Shell</a></td></tr>
      <tr><td>40</td><td><a href="/shell-novice/02-filedir/index.html">Navigating Files and Directories</a></td></tr>
      <tr><td>15</td><td>15 minute break</td></tr>
      <tr><td>50</td><td><a href="/shell-novice/03-create/index.html">Working With Files and Directories</a></td></tr>
      <tr><td>35</td><td><a href="/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></td></tr>
      <tr><td>60</td><td>60 minute lunch</td></tr>
      <tr><td>50</td><td><a href="/shell-novice/05-loop/index.html">Loops</a></td></tr>
      <tr><td>15</td><td>15 minute break</td></tr>
      <tr><td>45</td><td><a href="/shell-novice/06-script/index.html">Shell Scripts</a></td></tr>
      <tr><td>45</td><td><a href="/shell-novice/07-find/index.html">Finding Things</a></td></tr>
    </table>
  </div>
</div>
